<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/log_message/">Messages</a>
            <a href="/contact/">Contact</a>
        </div>
        
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
    </div>
</body>
</html>
