<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}">
</head>
<body>
    <div class="container">
        <!-- Navigation Panel -->
        <div class="nav">
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/log_message/">Messages</a>
            <a href="/contact/">Contact</a>
        </div>
        
        <h1>Welcome the Home Page</h1>
        <p>content hello all 
            
        </p>
        <p><a href="#">Learn More</a></p>
        <img src="{% static 'images/download.jpg' %}" alt="Favorite team Image">

        <footer>
            <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>&copy; 2023. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
